.Header {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px auto;
  background-color: #444444;
  color: white;
  padding: 0px;
  border: 0px;
  height: 49px;
  z-index: 50;
}

#hmenu {
  list-style-type: none;
  list-style: none;
  columns: 1;
}

#hmenu > li {
  display: inline;
}

#hmenu > li .items {
  display: inline-block;
  /* padding: 13px; */
  padding: 13px;
  height: 100%;
  cursor: pointer;
}

#hmenu > li .items:hover {
  background-color: #3c3c3c;
  border-bottom: 5px solid;
  border-bottom-color: #5c7ee9;
  margin-bottom: -1px;
}

#hmenu  > li #title {
  font-size: 30px;
  padding: 5px;
  /* margin-right: 60px; */
  margin-right: 5%;
  float: left;
  color: #5c7ee9;
  font-weight: bold;
  cursor: pointer;
}

.btn_options {
  width: 36px;
  float: right;
  /* margin-right: 40px; */
  margin-right: 4%;
  cursor: pointer;
  margin-top: 5px;
}

.Header-menu {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: -4px 0px 11px #7575754a;
  float: right;
  position: absolute;
  right: -300px;
  top: 0px;
  height: 100vh;
}

#vmenu {
  list-style-type: none;
  color: black;
  margin-top: 80px;
  /* border-top: 2px solid black; */
}

#vmenu > li {
  /* padding: 10px; */
  margin-top: 15px;
  text-align: center;
  margin-right: 40px;
  font-size: 25px;
  cursor: pointer;
  /* background-color: red; */
}

#vmenu li:hover {
  border-bottom: 2px solid #5c7ee9;
  margin-bottom: -2px;
}

#vmenu-close {
  width: 20px;
  height: 40px;
  float: right;
  /* margin-right: 30px; */
  margin-top: 7px;
  width: 100%;
  right: 0px;
  top: 0px;
  position: absolute;
  border-bottom: 2px solid #5c7ee9;
  color: black;
}

#vmenu-close > p {
  padding: 15px;
}

#vmenu-title {
  padding: 4px;
  /* margin-top: -15px; */
  margin-left: 19px;
  font-weight: bold;
  font-size: 21px;
  font-style: italic;
  height: 100%;
  /* margin-bottom: -10px; */
  position: absolute;
}

.btn_close {
  width: 34px;
  cursor: pointer;
  text-align: right;
  float: right;
  margin-right: 15px;
}

.btn_close:hover {
  /* border-bottom: 2px solid #5c7ee9; */
  /* width: 42px; */
}

#vmenu-anim {
  bottom:15%;
  position:absolute;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes #vmenu-anim {
  0% { left: 0;}
  50%{ left : 100%;}
  100%{ left: 0;}
}